<!-- section: About -->
<section id="about" class="section" style="padding:0px;">
    <header class="clearfix">
        <div class="logo">
            <img src="~/Images/Background.jpg" alt="" />
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <div>
                <h6 style="text-align:center; margin:auto; font-family:Brandon Grotesque; width:50%">
                    We at Feel Good Mate understand how difficult it is to move to a new country and create a home there.
                    Everybody has a different criteria to select a perfect location. This website will allow you to choose a regional city in Victoria, Australia  based on your preference.
                </h6>
            </div>
        </div>
    </div>
</section>

<section id="recomendation" class="section">
    <div class="container">
        <div class="row regional-cities">
            <div class="span6 question-recomendation">
                <h4>City Recommendation</h4>
                <div class="form-group ">
                    <h6 style="margin:auto; font-family:Brandon Grotesque;">
                        Answer the questions below to get recommendations for the cities that would be the most suitable for you.
                    </h6>

                    <label for="occupation" style="font-family:Brandon Grotesque; font-size:20px;" class="city-recomendation">1. What is your current field of profession?</label>
                    <select name="selectJob" , id="selectJob" class="city-recomendation" style="border-radius:25px; width:100%">
                        <option value="Administrative and support services">Administration</option>
                        <option value="Agriculture, forestry and fishing">Agriculture</option>
                        <option value="Construction">Construction</option>
                        <option value="Education and training">Education</option>
                        <option value="Financial and insurance services">Financial and insurance</option>
                        <option value="Accommodation and food services">Food and accomodation</option>
                        <option value="Health care and social assistance">Health care</option>
                        <option value="Manufacturing">Manufacturing</option>
                        <option value="Mining">Mining</option>
                        <option value="Professional, scientific and technical services">Professional services</option>
                        <option value="Public administration and safety">Public administration</option>
                        <option value="Rental, hiring and real estate services">Real estate</option>
                        <option value="Arts and recreation services">Recreation services</option>
                        <option value="Retail trade">Retail trade</option>
                        <option value="Information media and telecommunications">Telecommunications</option>
                        <option value="Electricity, gas, water and waste services">Utility services</option>
                        <option value="Transport, postal and warehousing">Warehousing</option>
                        <option value="Wholesale trade">Wholesale trade</option>
                    </select>
                    <label for="occupation" style="font-family:Brandon Grotesque; font-size:20px;" class="city-recomendation">2. Which language do you speak?</label>
                    <select name="selectLanguage" , id="selectLanguage" class="city-recomendation" style="border-radius:25px;width:100%">
                        <option value="Arabic">Arabic</option>
                        <option value="Croatian">Croatian</option>
                        <option value="Dutch">Dutch</option>
                        <option value="Filipino">Filipino</option>
                        <option value="German">German</option>
                        <option value="Greek">Greek</option>
                        <option value="Hazaraghi">Hazaraghi</option>
                        <option value="Italian">Italian</option>
                        <option value="Karen">Karen</option>
                        <option value="Macedonian">Macedonian</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Punjabi">Punjabi</option>
                        <option value="Tagalog">Tagalog</option>
                        <option value="Tongan">Tongan</option>
                        <option value="Turkish">Turkish</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn" value="Go >" />
                </div>
            </div>
            <div class="span6 question-recomendation">
                <div class="form-group">
                    <div id="recomendation-section" style="overflow:auto;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="separated-line" />

<!--Section: Regional-->
<section id="regional" class="section">
    <div class="container">
        <h4>Regional Cities</h4>
        <div class="row">
            <div class="span12">
                <h6 style="text-align:center; margin:auto; font-family:Brandon Grotesque; font-size: 30px; margin-bottom:20px;">
                    "We have places to live in Australia, we just haven't been very good at presenting those opportunities to people".
                </h6>
                <h6 style="text-align:center; margin:auto; font-family:Brandon Grotesque;">
                    ~ David Matthews, a 60-year-old farmer born and raised in Rypanyup, about 300 kilometres north-west of Melbourne
                </h6>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="span20">
                <div class="span5">
                    <div class="row">
                        <div class="span4 city-photo" id="geelong"></div>
                        <div class="span4" style="text-align:center;">
                            <p>
                                <h7>Barwon Area, VIC</h7>
                            </p>
                            <p>
                                <h6>Geelong</h6>
                            </p>
                            <p class="city-description">
                                The city of Geelong is Victoria's second city,
                                and lies southwest of Melbourne, Australia.
                            </p>
                            <a href="@Url.Action("Geelong", "City")"><input type="button" class="btn explore-button" value="Explore >" /></a>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="row">
                        <div class="span4 city-photo" id="bendigo">
                        </div>
                        <div class="span4" style="text-align:center;">
                            <p>
                                <h7>Loddon Campaspe Area, VIC</h7>
                            </p>
                            <p>
                                <h6>Bendigo</h6>
                            </p>
                            <p class="city-description">
                                The city of Bendigo known for its goldmines is located northwest
                                of Melbourne, Australia.
                            </p>
                            <a href="@Url.Action("Bendigo", "City")"><input type="button" class="btn explore-button" value="Explore >" /></a>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="row">
                        <div class="span4 city-photo" id="ballarat">
                        </div>
                        <div class="span4" style="text-align:center;">
                            <p>
                                <h7>Central Highlands Area, VIC</h7>
                            </p>
                            <p>
                                <h6>Ballarat</h6>
                            </p>
                            <p class="city-description">
                                The city of Ballarat, famous for its history and culture, is situated in the
                                Central Highlands of Victoria.
                            </p>
                            <a href="@Url.Action("Ballarat", "City")"><input type="button" class="btn explore-button" value="Explore >" /></a>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="row">
                        <div class="span4 city-photo" id="warrnambool">
                        </div>
                        <div class="span4" style="text-align:center;">
                            <p>
                                <h7>Great Ocean Road Area,VIC</h7>
                            </p>
                            <p>
                                <h6>Warrnambool</h6>
                            </p>
                            <p class="city-description">
                                The city of Warrnambool used to be the important port, is situated in
                                the Great Ocean area of Victoria.
                            </p>
                            <a href="@Url.Action("Warrnambool", "City")"><input type="button" class="btn explore-button" value="Explore >" /></a>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="row">
                        <div class="span4 city-photo" id="latrobe">
                        </div>
                        <div class="span4" style="text-align:center;">
                            <p>
                                <h7>Gippsland , VIC</h7>
                            </p>
                            <p>
                                <h6>Latrobe</h6>
                            </p>
                            <p class="city-description">
                                The Latrobe Valley recognised as electricity and forestry industry is located South-Eastern Victoria.
                            </p>
                            <a href="@Url.Action("Latrobe", "City")"><input type="button" class="btn explore-button" value="Explore >" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<script>var recommendation
    //ajax调用无参数后台方法
    $(function () {
        $(".btn").click(function () {
            $("#recomendation-section").find('h6').remove();
            var opt_language = $("#selectLanguage option:selected").val();
            var opt_job = $("#selectJob option:selected").val();
            if (opt_job == 0) {
                return false;
            }
            $.ajax({
                type: "post",        
                url: "http://52.147.15.131:8988/recommendation",         
                dataType: "json",       

                data: {
                    opt_job: opt_job,
                    opt_language: opt_language
                },

                success: function (recommendation) {                
                    recommendationList = recommendation
                    var city = ["Geelong", "Ballarat", "Bendigo", "Warrnambool", "Latrobe"];
                    var result = [];
                    for (var i = 0; i < recommendationList.length; i++) {
                        if (city.includes(recommendationList[i]) == true) {
                            
                            result.push(recommendationList[i]);
                        }
                    }
                    recommendation = result;
                    //alert("Here is the list of the city that will suit with your selection : "+ recommendation);

                    $("#recomendation-section").append(
                        "<h6 style=" + "font-family:Brandon" + " Grotesque;>Based on your answers the most suitable city/ cities for you would be:  <strong>" + recommendation +"</strong></h6 >"
                    );
                }
            })
        })
    });</script>
